html, body {
  height: 100%;
}
html {
  display: table;
  margin: auto;
}
body {
  display: table-cell;
  vertical-align: middle;
  font-family: Consolas, monaco, monospace;
  font-size: 4vh;
  background-color: black;
  color: white;
}
a {    
  text-decoration: none;
  color: red;
}